#CPABUILD_MODAL_CONTAINER #CPABUILDMODALFOOTER {
    background: #060D13;
    color: #ccc1a0;
    opacity: 0.89;
}
#CPABUILD_MODAL_CONTAINER #CPABUILDMODALHEADER {
    background: #060D13;
    color: #ccc1a0;
    padding: 20px;
    opacity: 0.89;
}
#CPABUILD_MODAL_CONTAINER strong{
    color: #e23131;;
}
#CPABUILD_MODAL_CONTAINER #CPABUILDMODALCONTENT {
    opacity:0.97 !important;
}
#CPABUILD_MODAL_CONTAINER #CPABUILDMODALFOOTER {
    background: rgba(6, 13, 19, 0.89);
    color: #ccc1a0;
}
#CPABUILD_MODAL_CONTAINER #CPABUILDMODALCONTENT {
    max-width: 790px !important;
    width: 100% !important;
}